@import '../../../styles/global.scss';

.Users {
	.aggregates {
		margin: 1em 0;
	}
	.RecordsTable {
		table {
			grid-template-columns: minmax(5.5em, auto) auto minmax(12em, 1fr) auto auto auto auto minmax(
					4em,
					auto
				) !important;
			.actions {
				text-align: right;
			}
		}
	}
}
