@import '../../../styles/global.scss';

.PromptTemplates {
	input.search-name-reference {
		width: 16.5em;
	}
	.RecordsTable {
		table {
			grid-template-columns:
				auto auto auto auto minmax(3.5em, auto) minmax(3.5em, auto)
				3em !important;
			tbody tr .actions {
				text-align: right;
			}
		}
	}
}
