$header-height: 70px;
$main-menu-width: 210px;

$off-white: #f5f7fa;
$grey: #e0e0e0;

$theme-dark-color: #393f4e;
$theme-dark-color-highlight: #899dbf;
$theme-dark-color-muted: #c4d2e8;
$theme-light-color: white;
$theme-error-color: #fa5944;
$theme-success-color: #346ee0;
$theme-grey-color: #b0b0b0;
$theme-text-color: #303030;

body {
	font-family: Arial;
	color: $theme-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	line-height: 1;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 22px;
}

a {
	text-decoration: underline;
}

input,
textarea,
select {
	background-color: white;
	padding: 0.25em 0.125em;
	outline: none;
	&:focus {
		outline: 1px inset $theme-success-color;
	}
	border: 1px solid $theme-dark-color;
	border-radius: 0.25em;
}

input {
	line-height: 1;
}

@mixin button-blank {
	appearance: none;
	border: none;
	padding: 0;
	background-color: transparent;
	color: inherit;
	font-family: inherit;
	text-align: left;
}

@mixin theme-button {
	background-color: $theme-success-color;
	border: none;
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	font-size: 1em;
	color: $off-white;
}

.theme-background {
	background-color: $theme-dark-color;
}

button.theme {
	@include theme-button;
	cursor: pointer;
	&:disabled {
		background-color: rgba($theme-success-color, 0.25);
		cursor: unset;
	}
	&.danger {
		background-color: $theme-error-color;
		&:disabled {
			background-color: rgba($theme-error-color, 0.3);
		}
	}
	&.plain {
		background-color: $theme-grey-color;
		&:disabled {
			background-color: rgba($theme-grey-color, 0.3);
		}
		color: black;
	}
	&.tight {
		line-height: 1;
		padding: 0.15em 0.4em;
	}
}

@mixin ul-no-formatting {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

button.blank {
	@include button-blank;
}

section {
	background-color: $off-white;
	border: 1px solid $theme-dark-color-muted;
	border-radius: 0.3rem;
	padding: 1rem;
	margin: 1rem;
	h3 {
		margin-bottom: 1rem;
	}
}

table {
	.long-text {
		line-height: 1;
		height: 1.1em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 200px;
	}
}

form.record,
.form-record {
	h2,
	h3 {
		margin: 1em 0;
	}
	.field-group {
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
	}
	.field {
		margin: 0.25em 0 0 0;
		label,
		.label {
			span {
				font-size: 0.75em;
				font-weight: bold;
				display: block;
			}
			.value {
			}
			input,
			select {
				width: 100%;
				box-sizing: border-box;
			}
			textarea {
				width: 100%;
			}
		}
		.error {
			font-weight: bold;
			font-size: 0.75em;
			color: $theme-error-color;
			min-height: 1em;
			line-height: 1em;
			margin-top: 1px;
		}
		&.checkbox {
			label,
			.label {
				display: flex;
				align-items: center;
				gap: 0.5em;
				input {
					width: auto;
				}
			}
		}
	}
	.actions {
		display: flex;
		width: 100%;
		margin: 1em 0;
		justify-content: space-between;
	}
}

@mixin standard-box-shadow {
	box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 18px 0px;
}

.layout-row {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	gap: 1em;
}

.balanced-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&.fill {
		gap: 1em;
		> * {
			flex-grow: 1;
		}
	}
}

.balanced-row-inline {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	gap: 2em;
}

.statistics {
	display: inline-flex;
	margin: 0 0 1em 0;
	line-height: 1.5;
	&:after {
		content: '';
		display: block;
	}
	align-items: flex-start;
	justify-content: space-between;
	gap: 2em;
	ul {
		display: grid;
		grid-template-columns: auto auto;
		gap: 0 0.5em;
		li {
			display: contents;
			> *:last-child {
				text-align: right;
			}
		}
	}
	.title {
		text-decoration: underline;
		line-height: inherit;
		margin-bottom: 0.5em;
	}
	.title + ul {
		margin-left: 0.5em;
	}
}

.RecordsTable td.actions {
	text-align: right;
}

.aggregates {
	dt {
		display: inline-block;
		margin: 0 0.25em 0 0;
	}
	dd {
		display: inline-block;
		margin: 0 0.5em 0 0;
		font-weight: bold;
		&:after {
			content: '';
			display: block;
		}
	}
}

.search {
	margin: 1em 0;
	label {
		font-weight: bold;
		display: inline-flex;
		flex-direction: column;
		span {
			display: block;
		}
	}
}

.records-filter {
	label {
		font-weight: bold;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		gap: 0;
		span {
			font-weight: bold;
			display: flex;
			gap: 0.5em;
			select {
				font-weight: normal;
				padding: 1px 2px;
				height: 1.35em;
			}
		}
	}
	input,
	select {
		font-weight: normal;
	}
	input[type='checkbox'] {
		display: block;
		margin: 0.5em auto;
	}
}

.input-select {
	border-radius: 0.25rem;
	display: inline-flex;
	align-items: center;
	border: 1px solid $theme-dark-color;
	gap: 1px;
	input,
	select {
		border: none;
	}
	select {
		font-weight: bold;
		padding: 2px 1px;
		margin: 0 2px 0 0;
		border-radius: 0.125rem;
	}
}

.RecordsTable tbody tr td.actions {
	justify-content: right;
}

button.theme .SmallLoadingIndicator {
	.dots::before,
	.dots::after {
		background: $theme-light-color;
	}
	.dots::before {
		box-shadow: -8px 0 $theme-light-color;
	}
}

.info-and-actions {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 4em;

	.actions {
		display: flex;
		flex-direction: column;
		gap: 1em;
		button.theme {
			padding-left: 2em;
			padding-right: 2em;
			position: relative;
			.SmallLoadingIndicator {
				.dot:first-child,
				.dot:last-child {
					background: $theme-light-color;
				}
				.dot:first-child {
					box-shadow: -8px 0 $theme-light-color;
				}
			}
		}
	}
}
